<div ng-non-bindable="">
    <!-- begin vehicle summary -->
    <section class="col-xs-12 bg-white-light pdt10 pdb10 index-summary">
        <div class="col-xs-12 col-sm-3 text-center pdl0 pdr0">
            <div id="{{marker.id}}state">
                <i class="fa fa-drivers-license-o fa-2x" aria-hidden="true"></i>
            </div>
            <div class="nb bold"><span>{{marker.details.id.value || "N/A"}}</span></div>
            <small>Id</small>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-orange">
                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
            </div>
            <div class="nb bold"><span>{{marker.details.location.value || "N/A"}}</span></div>
            <small>Location</small>
        </div>

        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-yellow">
                <i class="fa fa-smile-o fa-2x" aria-hidden="true"></i>
            </div>
            <div class="nb bold">{{marker.details.happyness.value || "N/A"}}</div>
            <small>Happyness</small>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-green">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
            </div>
            <div class="nb bold">{{marker.details.phone.value || "N/A"}}</div>
            <small>Phone</small>
        </div>
        
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-yellow">
                <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
            </div>
            <div class="nb bold">{{marker.details.manager.value || "N/A"}}</div>
            <small>Manager</small>
        </div>
        
         <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-blue">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
            </div>
            <div class="nb bold">{{marker.details.type.value || "N/A"}}</div>
            <small>Type</small>
        </div>

    </section>        
    <a type="button" href="#/farm?id={{marker.details.id}}" ng-click="" class="btn btn-primary mt15" >View Dashboard</a>


</div>