/*
 * Additional styling for index.html
 */

body {
    background-color: #FFFFFF;
    overflow: auto;
}

.iframe-size {
    width: 100%; 
    height: calc(100vh - 55px);
}

.logo {background: #FFFFFF;}

.appname {
 	color: #000000;
    font-family: verdana;
    font-size: 22px;
}

.side-bar {
    background-color: #FFFFFF;
    margin-top:25px;
}

.side-bar .nav>li>a {color: #000000; border-radius: 0;}
.side-bar .nav>li.active>a { background-color: rgba(129,247,190, 0.7);}

header {
    background-color: #FFFFFF
}

/*
 * End additional styling for index.html
 */